.home_section-wrapper {
	display: flex;
	/* background-color: #fff; */
	flex-wrap: wrap;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	/* max-height: 60vh; */
	/* padding: 20px 20px; */
	max-width: 1300px;
	margin: 0 auto;
}
.home_section {
	width: 100vw;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
}
.home_bg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color: #fff; */
	background-image: url('../../assets/home/home_under-small.webp');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
